{
  "tabWidth": 4,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "always",
  "printWidth": 100,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["*.cpp", "*.h", "*.hpp", "*.c", "*.ino"],
      "options": {
        "parser": "cpp"
      }
    }
  ]
}